#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App .my-btn{
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: 1px solid gray;
  cusror: pointer;
}